.App {
  text-align: center;
  min-height: 100vh;
}

#root {
  height: 100vh;
  margin: 10px;

}
.pageContainer{
  margin-top:60px;
}
label {
  text-align: left;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

label {
  align-self: flex-start;
  text-align: left;
}

/* authentication */
.authForm,
.messageContainer {
  width: 60vh;
  margin: 20px auto;
  display: block;
  border-radius: 10px;
  top: 25vh;
}

.authForm label {
  float: left;
}

.authFormTop {
  background: #5465FF;
  color: white;
  padding: 10px;
  border-radius: 10px 10px 0 0;
}

.authFormContainer,
.profileContainer {
  padding: 10px;

}

.authButton,
.createBtn,
.addBtn {
  background-color: #0011A7;
}

/* main menu */
.optionContainer {
  margin-top: 10px;
  margin-bottom: 10px;
}

.optionBox {
  color: black;
  height: 30vh;
  text-decoration: none;
  justify-content: center;
}


/* table */
.tableContainer {
  margin: 10px auto;
  padding: 10px;
  width: 100%;
}

.tableContainer table {
  background-color: white;
  border-radius: 10px;
}

/* create button */
.createBtn {
  margin: 10px auto;
}

/* search & filter */
.containers {
  padding: 10px;
}


/* experience */
.formContainer {
  padding: 15px;
}

.formContainer div div {
  padding: 10px;
}

.formContainer div div label {
  float: left;
}

/* breadcrumbContainer */
.breadcrumbContainer {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

.breadcrumbContainer ol {
  margin: 0px;
}

/* loader */
.loaderContainer {
  min-height: 20vh;
  justify-content: center;
  align-items: center;
}

/* empty row msg */
.emptyMsg {
  padding: 20px;
}

/* profile page */
.profileContainer {
  margin-top: 10px;
}

/* navbar */
.mainNav {
  background: #5762cc;
}

.navbar-brand,
.nav-link {
  color: white;
}

.guideSteps li {
  text-align: left;
}


/* for verify email and forget password */
.messageContainer {
  padding: 20px;
}